@import "partials/colors";
@import "partials/animations";

@mixin responsive() {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: $bg-color;
}

html,
body,
input,
button,
textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 85%;
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 40px 0;

    @include responsive() {
        flex-direction: column;
        padding: 40px 10px;
        height: 100%;
    }

    .overlay {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 20px;

        @include responsive() {
            padding: 0;
        }

        span {
            font-weight: 600;
            font-size: 1.25rem;
            color: $txt-gray-dark;
            margin-bottom: 16px;
        }

        textarea {
            height: 120px;
            margin-bottom: 16px;
            border: 1px solid $txt-gray-light;
            font-size: 1rem;
            padding: 10px 10px;
        }

        button {
            font-size: 1rem;
            height: 36px;
            font-weight: 600;
            color: $txt-gray-dark;
            border: 1px solid $txt-gray-light;
            border-radius: 5px;
            cursor: pointer;
        }

        button:active {
            background: $txt-gray-light;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            justify-content: space-between;

            p {
                font-size: 0.95rem;
                line-height: 1.5rem;
                color: $txt-gray;
            }

            button {
                min-width: 75px;
                height: 30px;
                margin-left: 40px;
            }
        }
    }

    section:first-child {
        border-right: 2px solid #cdcdcd;
        padding-right: 100px;

        @include responsive() {
            padding-right: 0;
            border: 0;
            margin-bottom: 50px;
        }
    }

    section:nth-child(2) {
        padding-left: 100px;
        overflow-y: scroll;

        /* TODO O SCROLL */
        &::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;

            &:hover {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
        }

        /* BARRA SCROLL */
        &::-webkit-scrollbar-thumb {
            background: $txt-gray-light;
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

            &:hover {
                background: $txt-gray;
            }
        }

        @include responsive() {
            padding-left: 0;
            padding-right: 0;
            overflow-y: visible;
        }
    }
}

.loading {
    .overlay {
        background: rgba(242, 243, 245, 0.8);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        svg {
            width: 25vh;
            height: auto;
        }

        span{
            color: $speech-color;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: italic;
        }
    }
}
